*~
stamp-h1
*.stamp
*.exe
*.o
.deps
.dirstamp
config.log
config.status
autom4te.cache
aclocal.m4
ABOUT-NLS
src/dbus-client
src/dbus-client.c
src/moonshot
moonshot.msi
moonshot.wixpdb
app.wixobj
org.janet.Moonshot.service

aclocal.m4
.libs/
*.la
*.lo
moonshot.msi
moonshot.wixpdb
app.wixobj
org.janet.Moonshot.service
share/
moonshot.desktop
moonshot-webp.desktop
libmoonshot/libmoonshot.exp
libmoonshot/libmoonshot.lib
*.tar.gz

*.tar.bz2
*.stackdump

