*~
stamp-h1
*.stamp
*.exe
*.o
.deps
.dirstamp
po/stamp-po
po/remove-potcdate.*
po/moonshot.pot
po/insert-header.sin
po/*.header
po/*.sed
po/[Rr]ules-quot
po/POTFILES
Makefile.in
Makefile
!examples/msvc/Makefile
po/Makevars.template
configure
config.h*
config.log
config.status
build-aux
autom4te.cache
aclocal.m4
ABOUT-NLS
.libs/
*.la
*.lo
libtool
src/moonshot-add-dialog.c
src/moonshot-custom-vbox.c
src/moonshot-id.c
src/moonshot-idcard-widget.c
src/moonshot-idcard-store.c
src/moonshot-identity-dialog.c
src/moonshot-identity-request.c
src/moonshot-identity-management-view.c
src/moonshot-identity-manager-app.c
src/moonshot-identities-manager.c
src/moonshot-keyring-store.c
src/moonshot-local-flat-file-store.c
src/moonshot-logger.c
src/moonshot-password-dialog.c
src/moonshot-provisioning-common-new.vala
src/moonshot-provisioning-common.c
src/moonshot-server-linux.c
src/moonshot-server-msrpc.c
src/moonshot-settings.c
src/moonshot-trust-anchor-dialog.c
src/moonshot-utils.c
src/moonshot-warning-dialog.c
src/moonshot-webp-parser.c
src/moonshot-window.c
src/msrpc-client.c
src/dbus-client
src/dbus-client.c
src/moonshot
src/moonshot-webp
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
moonshot.msi
moonshot.wixpdb
po/Makefile.in.in
moonshot-ui.spec

app.wixobj
org.janet.Moonshot.service
share/
moonshot.desktop
moonshot-webp.desktop
libmoonshot/moonshot-msrpc.h
libmoonshot/moonshot-msrpc_c.c
libmoonshot/moonshot-msrpc_s.c
libmoonshot/libmoonshot.exp
libmoonshot/libmoonshot.lib
*.tar.gz

*.tar.bz2
*.stackdump

*.sav
*.save
*.patch
*.tar.xz

examples/client
examples/service-selection

po/moonshot-ui.pot

tests/basic