stamp-h1
*.stamp
*.exe
*.o
.deps
.dirstamp
po/stamp-po
po/remove-potcdate.*
po/moonshot.pot
po/insert-header.sin
po/*.header
po/*.sed
po/[Rr]ules-quot
po/POTFILES
Makefile.in
Makefile
po/Makevars.template
configure
config.h*
config.log
config.status
build-aux
autom4te.cache
aclocal.m4
ABOUT-NLS
src/moonshot-add-dialog.c
src/moonshot-custom-vbox.c
src/moonshot-id.c
src/moonshot-idcard-widget.c
src/moonshot-identity-request.c
src/moonshot-identities-manager.c
src/moonshot-msrpc.h
src/moonshot-msrpc_c.c
src/moonshot-msrpc_s.c
src/moonshot-password-dialog.c
src/moonshot-server.c
src/moonshot-utils.c
src/moonshot-window.c
src/msrpc-client.c
src/dbus-client
src/dbus-client.c
src/moonshot
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/lock.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
moonshot.msi
moonshot.wixpdb
po/Makefile.in.in
app.wixobj
org.janet.Moonshot.service
