<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>moonshot-ui</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright (c) 2011, JANET(UK)</string>
	<key>CFBundleIconFile</key>
	<string>moonshot-ui.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.ja.moonshot-ui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2011, JANET(UK)</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
<key>CFBundleDisplayName</key>
<string>Moonshot Identity Selector</string>
<key>CFBundleDocumentTypes</key>
<array>
    <dict>
        <key>CFBundleTypeName</key>
        <string>Moonshot Identity Selector ID Card</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeExtensions</key>
        <array>
            <string>msht</string>
            <string>msht</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
            <string>application/msht</string>
            <string>application/msht</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
    </dict>
</array>
</dict>
</plist>
