Source: moonshot-ui
Section: non-free/net
Priority: optional
Maintainer: Sam Hartman <hartmans@debian.org>
Build-Depends: debhelper (>= 7.0.50~), valac,
    libatk1.0-dev (>= 1.20), libglib-2.0-dev (>= 2.26), libgtk2.0-dev,
        gettext, autotools-dev
Standards-Version: 3.9.1
Homepage: http://www.project-moonshot.org/
Vcs-Git: http://www.project-moonshot.org/git/moonshot-ui.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/moonshot-ui.git;a=summary

Package: moonshot-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Moonshot Identity Selector
 Project moonshot provides federated authentication using EAP, RADIUS
 and SAML to applications beyond the web platform. 